/auto-save-list/
/eln-cache/
/elpa/
*~
/transient/
/tree-sitter/
session.*
/.cache/
/tramp
early-init.el
/projectile-bookmarks.eld
/projects
/eshell/
/url/
# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
