/elpa/
/auto-save-list/
/projectile-bookmarks.eld
/transient/
init.el~
.#init.el
\#init.el\#
/eln-cache/
/.cache/
/*.el~
/session.102cb4f0c3229e4266170400596158533500000021790098
/straight/
/projects
/tramp
